.user-status{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 8px 10px;
    margin: 0 auto;
    max-width: 70%;
    color: #666;
    opacity: 0.8;
    border-radius: 100px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}